<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Offres d'Emploi</title>
<link rel="stylesheet" th:href="@{/styles.css}">
<link rel="stylesheet" th:href="@{/css/offers.css}">
</head>
<body>

	<div th:replace="index :: navbar"></div>

	<div class="offersContainer">
		<h1>Job Offers</h1>
		<div class="offers">
			<!-- Loop over posts -->
			<div th:each="post : ${distinctPosts}" class="offer">
				<h2 class="offerTitle" th:text="${post.postName}"></h2>
				<p th:utext="${post.postDescription}"></p>
				<a href="/apply" class="applyButton"> <button >Apply</button></a>
			</div>
		</div>
	</div>


	

	
	<script src="/js/login.js"></script>

</body>
</html>
